h1{
    background: #F5AB35;
    font-size: 120px;
    font-style: ;
    
    color: #a40068
}

h1, h2, h3, p{
font-family: helvetica, serif;

}


body{
background-color: #F1A9A0;

}

h2{
color: #2ecc71;
background: #81CFE0;
font-size: 80px;
}

img{
width: 50%;
height:50%;
margin: 10px, 10px;
position: relative;
border-color: #3FC380;

}

.box {
        position: relative;
        width: 100%;
        height: 70%;
        background-color: #049372;
        opacity: 0.5;
        padding: 15px 10px 10px 25px;
      }
