 <!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>WEB DEVELOPMENT IMMERSIVE</title>
            
          <link rel="stylesheet" href="css/agency.css">
    
    </head>
    <body>
      <h1>WEB DEVELOPMENT IMMERSIVE </h1>
<nav>
<a href="/student/Tyrion">Tyrion</a><br>
<a href="/student/Danerus">Danerus</a><br>
<a href="/student/Paeter">Paeter</a><br>
<a href="/student/Jon">Jon</a><br>
<a href="/student/Robert">Robert</a><br>
<a href="/contact">contact</a><br>
<a href="/about">about</a><br>
</nav>


    <%= yield %>

    <footer>
    Copyright 2014
    </footer>
    </body>