<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      
     
      <title>my Blog</title>
      
      <link href="style.css" rel="stylesheet">
    </head>
    <body>

            <h1>The eternal blog</h1>
         
               <%= yield %>
    </body>
</html>