
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
 
  <title>my Blog</title>
  
  <link href="style.css" rel="stylesheet">
</head>
<body>

<form action="/posts" method="POST">

    <label for="title">Post Title</label><br>
    <input type="text" name="title" id="title">

  <p>
    <label for="content">Content</label><br>
    <input type="text" name="content" id="content">
  </p>
  <p>
    <label for="author">Author</label><br>
    <input type="text" name="author" id="author">
  </p>
  <p>
    <label for="author_website">Author Website</label><br>
    <input type="text" name="author_website" id="author_website">
  </p>
  <p>
    <input type="submit" value="Add Post">
  </p>
</form>

</body>
