<h3>#Search</h3>
                    
    <ul>
        <li>
            <%= link_to '#Artists', artists_path %>
        </li>
        <li>
            <%= link_to '#Paintings', paintings_path %>
        </li>
        <li>
            <%= link_to '+ Artist', new_artist_path %>
        </li>
        <li>
            <%= link_to '+ Painting', new_painting_path %>
        </li>                        
    </ul>