<!DOCTYPE HTML>
<html>
<head>
<title>Search for your movie</title>

<link rel="stylesheet" type="text/css" href="../normalize.css">

<link rel="stylesheet" type="text/css" href="../style.css">


</head>

<body>


 
<% if @movies %>

<% @movies.each do |movie_search| %>
 <a href="/movie/<%= movie_search["imdbID"] %>"><%=movie_search["Title"] %> 
 <%  end %>

<% end %>



 
</body>
</html>