
<html>
<head>
<title>Search for your movie</title>
<link rel="stylesheet" type="text/css" href="/normalize.css">

<link rel="stylesheet" type="text/css" href="/style.css">


</head>
<body>
<ul>
<% if @movies %>
    <% @movies.each do |movie| %>
        <li><a href="/movies/<%= movie["imdbID"] %>"> 
        <%=movie["Title"]%> </a></li>
        <br>        
       <%  end %>
<% end %>
</ul>


</body>
</html>