<form action="/authors" method="POST">
  <p>
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name">
  </p>
  <p>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name">
  </p>
    <p>
    <label for="website">Website</label><br>
    <input type="text" name="website" id="website">
  </p>
    <p>
    <label for="twitter">Twitter</label><br>
    <input type="text" name="twitter" id="twitter">
  </p>
    <p>
    <label for="google">Google+</label><br>
    <input type="text" name="google" id="google">
  </p>
  <p>
    <label for="bio">Biography</label><br>
    <textarea type="text" name="bio" id="bio"></textarea> 
  </p>
  <p>
    <input type="submit" value="Create author">
  </p>
</form>